.icons{
    display: flex;
    margin-left: 30px;
}
body{
    background-color: wheat;
    
        font-family: 'Abel', sans-serif;
     font-family: 'Lora', serif;
     /* font-family: 'Shantell Sans', cursive; */
     font-size: 20px;
     overflow-x: hidden;
}


#d1{
    color: blue;
    margin-top: 4%;
}
.icons ul li{
    display: inline-flex;
    padding: 40px;
}
#signup{
    /* border-radius: 20%;
    padding: 2%;
    color: blue;background-color: azure;
   } */
margin-left: 30%;
height: 40px;
width: 90px;
margin-top: 4%;
background-color: blue;
border-radius: 10px;

}
#login{
    height: 40px;
    width: 90px;
    margin-left: 5%;
    margin-top: 4%;
    border-radius: 10px;
}
.welcome{
    
    text-align: center;
    margin-top:10% ;

}
#make{
    font-size: 50px;
}
#location{
    margin-left: 30%;
    width: 600px;
    height: 100px;
    border-radius: 30px;
    display: flex;
    background-color: blue;
}

    

#ROOM{
    margin-left: 30%;
}
#OUT{
    margin-left: 20%;
}
#CHECK{
    margin-left: 10%;
}
.body{
    background: cornsilk;
    
}
.capletters{
    margin: 7%;
    margin-left: 30%;
    font-size: 20px;
}
#images{
    display: flex;
    justify-content: space-between;
    border-radius: 5%;
}
button{
    margin-left: 47%;
    margin-top: 10%;
    color: black;
    border-radius: 80%;
    padding: 2%;
    background-color: darkorange;

}
.sentence{
    margin-left: 40%;
    margin-top: 5%;
    font-size: 20px;
}
#onee{
   margin-right: 15%;
   width: 200px;
   margin-left: 10%;
}
#twoo{
    margin-right: 15%;
    width: 200px;

}
#three{
    margin-right: 15%;
    width: 200px;

}
#fourr{
    margin-right: 15%;
    width: 200px;
}
.boxes{
    display: flex;
}

.Rooms{
    margin-left: 45%;
}
.sence{
    margin-left: 35%;
}
.one{
    margin-left: 40%;
    

}
.two{
    margin-left: 45%;

}
.bed1{
    display: flex;
    margin: 10%;
    width: 800px;
    height: 400px;



    
}
#bed3{
   margin-left: 35%;

}
#bed2{
    margin-left: 25%;
}
#bed6{
    margin-left: 30%;

}
#bed5{
    margin-left:25% ;
    margin-top: 15%;
}

.beds2{

    
}
.part3{
    margin-left: 40%;
    font-size: 25px;
}
.lisst ul li{
    display: inline-flex;
    padding: 130px;
    font-weight: bold;
}
.foods{
    gap: 5%;
}

#food3{
    margin-left: 20%;

}
#foodie{
    margin-left: 13%;
}
#me4{
    margin-left: 30%;
}
/* #me4{
    margin-left: 90%;
    margin-bottom: 2%;
} */
#me3{
    margin-left: 40%;
    margin-top:7% ;
}
.clients{
    margin-left: 35%;
    font-size: 20px;
}
#line3{
    margin-left: 2%;
}
#line4{
    margin-left: 1%;
}
.words{
    margin-left: 5%;
    margin-top: 1%;
    
    
}
.words3{
    margin-left: 80%;
    margin-bottom: 100px;
    margin-top: -34%;
}
.words2{
    
    margin-left: 40%;
  }   
.words2{
    margin-left: 40%;
    margin-bottom: 20%;
    
}

.buttons{display: flex;
    margin-left: 55%;
    gap: 20%;

    
    
   

    }
    #button1{
        background: dodgerblue;
        border-radius: 15%;
        margin-left: 15%;
    }
    #button2{
        background: dodgerblue;
        border-radius: 15%;
    }
    #button3{
        background: dodgerblue;
        border-radius: 15%;
        margin-left: 35%;

    }
    .lap{
       margin: 3%;
       width: 600px;

        }
        .choose{
            margin-left: 43%;
        }
        .letters{
            margin-left: 55%;
        
        
        }
        
        .footer{
            display: flex;
        }
        .footer3{
            margin-left: 40%;
        }
        .footer2{
            margin-left: 25%;
        }
        .body{
            background-image:url(photo.jpeg) ;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .signs{
        
            display: flex;
            
        }
        .whole{
            
        }
        .footer{
            background: cornsilk;
        }
        .bedroom{
            display: grid;
            grid-template-columns: repeat(3,2fr);
            padding: 5%;
            border-radius: 5%;
            
        }
        .bedroom img{
            border-radius: 8%;
            height: 50vh;
            width: 60%;
            justify-content: space-between;
            display: flex;

        }
        .signs{
            display: grid;
            grid-template-columns: repeat(2,2fr);
            height: -800px;
            width: -800px;
        }
        .words{
            display: flex;
            gap: 10%;
            margin: 5%;
        }
        .butt{
            border-radius: 60%;
            padding: 5%;
        }
        buttons{
            border-radius: 20%;
            background: blue;
        }
    
        

    .icons{
        display: flex;
        margin-left: 30px;
    }
    #d1{
        color: blue;
        margin-top: 4%;
    }
    .icons ul li{
        display: inline-flex;
        padding: 40px;
    }
    #signup{
    margin-left: 30%;
    height: 40px;
    width: 90px;
    margin-top: 4%;
    background-color: blue;
    border-radius: 10px;
    
    }
    #login{
        height: 40px;
        width: 90px;
        margin-left: 5%;
        margin-top: 4%;
        border-radius: 10px;
    }
    .welcome{
       
        text-align: center;
        margin-top:10% ;
    
    }
    #make{
        font-size: 50px;
    }
    #location{
        margin-left: 30%;
        width: 600px;
        height: 100px;
        border-radius: 30px;
        display: flex;
        background-color: blue;
    }
    
        
    
    #ROOM{
        margin-left: 30%;
    }
    #OUT{
        margin-left: 20%;
    }
    #CHECK{
        margin-left: 10%;
    }
    .body{
        background: cornsilk;
        
    }
    .capletters{
        margin: 7%;
        margin-left: 30%;
        font-size: 20px;
    }
    #images{
        display: flex;
        justify-content: space-between;
    }
    .button{
        margin-left: 47%;
        margin-top: 5%;
        color: blue;
        border-radius: 30%;
    
    }
    .sentence{
        margin-left: 40%;
        margin-top: 5%;
        font-size: 20px;
    }
    #onee{
       margin-right: 15%;
       width: 200px;
       margin-left: 10%;
    }
    #twoo{
        margin-right: 15%;
        width: 200px;
    
    }
    #three{
        margin-right: 15%;
        width: 200px;
    
    }
    #fourr{
        margin-right: 15%;
        width: 200px;
        
    }
    .boxes{
        display: flex;
    }
    
    .Rooms{
        margin-left: 45%;
    }
    .sence{
        margin-left: 35%;
    }
    .one{
        margin-left: 40%;
    
    }
    .two{
        margin-left: 45%;
    
    }
    .bed1{
        display: flex;
        margin: 10%;
        /* width: 800px; */
        height: 400px;
    
    
    
        
    }
    #bed3{
       margin-left: 35%;
    
    }
    #bed2{
        margin-left: 25%;
    }
    #bed6{
        margin-left: 30%;
    
    }
    #bed5{
        margin-left:25% ;
        margin-top: 15%;
    }
    
   
    
    .beds2{
    
        
    }
    .part3{
        margin-left: 40%;
        font-size: 25px;
    }
    .lisst ul li{
        display: inline-flex;
        padding: 130px;
        font-weight: bold;
    }
    .foods{
        display: grid;
                grid-template-columns: repeat(3,2fr);
                padding: 5%;
                border-radius: 5%;
    }
    
    #food3{
        margin-left: 20%;
        border-radius: 5%;
    
    }
    #foodie{
        margin-left: 13%;
        border-radius: 5%;
    }
    
    #me4{
        margin-left: 8%;
        margin-bottom: 2%;
        border-radius: 5%;
    }
    #me3{
        margin-left: 18%;
        margin-top:3% ;
        border-radius: 5%;
    }
    .clients{
        margin-left: 35%;
        font-size: 20px;
        border-radius: 15%;
    }
    #line3{
        margin-left: 2%;
    }
    #line4{
        margin-left: 1%;
    }
    .words{
        margin-left: 5%;
        margin-top: 1%;
        
        
    }
    .words3{
        margin-left: 80%;
        margin-bottom: 100px;
        margin-top: -34%;
    }
    .words2{
        
        margin-left: 40%;
        
    }
    .words2{
        margin-left: 40%;
        margin-bottom: 20%;
        
    }
    
    .buttons{display: flex;
        margin-left: 55%;
        gap: 20%; 
        margin-top: -15%;
    
        
        
       
    
        }
        #button1{
            background: dodgerblue;
            border-radius: 15%;
            margin-left: 15%;
        }
        #button2{
            background: dodgerblue;
            border-radius: 15%;
        }
        #button3{
            background: dodgerblue;
            border-radius: 15%;
            margin-left: 35%;
    
        }
        .lap{
           margin: 3%;
           width: 600px;
    
            }
            .choose{
                margin-left: 43%;
            }
            .letters{
                margin-left: 55%;
            }
            .our{
                margin-top: 55%;
                margin-left: 35%;
            
                
            }
            .who{
                background: dodgerblue;
                border-radius: 10%;
            }
            #enter{
                border-radius: 10px;
                margin-right: 100px;
                
            }
            .footer{
                display: flex;
            }
            .footer3{
                margin-left: 40%;
            }
            .footer2{
                margin-left: 25%;
            }
            .body{
                background-image:url(photo.jpeg) ;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .signs{
            
                display: flex;
                
            }
            .whole{
                
            }
            .footer{
                background: cornsilk;
            }
            .bedroom{
                display: grid;
                grid-template-columns: repeat(3,2fr);
                padding: 5%;
            }
            .bedroom img{
                border-radius: 8%;
                height: 50vh;
                width: 80%;
                justify-content: space-between;
                display: flex;
    
            }
            .signs{
                display: grid;
                grid-template-columns: repeat(2,2fr);
                height: -800px;
                width: -800px;
            }
            .words{
                display: flex;
                gap: 10%;
                margin: 5%;
            }
            .butt{
                border-radius: 60%;
                padding: 5%;
            }
            buttons{
                border-radius: 20%;
                background: blue;
            }
            #per{
                border-radius: 55%;

            }
            #per2{
                border-radius: 55%;


            }
            #per4{
                border-radius: 55%;


            }
            .ipsum{
                float: right;
                margin-top: -10%;
                margin-right: 15%;
            }
            #iiiii{
                width: 600px;
            }
            .icons ul li{
                display: inline-flex;
               
            
            
                
            }
            
            #log{
                margin-left: 90%;
            }
            #sign{
                margin-left: 80%;
                margin-top: -1.7%;
                 }
             #ress{
            /* margin-top: -4%; */
            width: 580px;
            height: 663px;
            border-radius: 6%;
                 }
                 .rooms{
                    display: grid;
                            grid-template-columns: repeat(3,2fr);
                            width: 28px;
                            margin-left: 47%;
                            margin-top: -60%;
                            
                            
                 }
                 #one{
                    border-radius: 5%;
                    height: 90%;
                 }
                 #two{
                    border-radius: 5%;
                  height: 90%;
                    
                 } 
            
            
                 
                 #three{
                    border-radius: 5%;
                    height: 90%;
                 }
            
                 
                 #four{
                    border-radius: 5%;
                    height: 90%;
                 }
            
                    
            
            
                 
                 #five{
                    border-radius: 5%;
                    height: 90%;
                 }
            
            
                 
                 #six{
                    border-radius: 5%;
                   height: 90%;
                 }
            
            
                 
                 #seven{
                    border-radius: 5%;
                    height: 90%;
                 }
            
                 
                 #eight{
                    border-radius: 5%;
                   height: 90%;
                 }
            
                 
                 #nine{
                    border-radius: 5%;
                    height: 90%;
                 }
            
                 .footer{
                            display: flex;
                        }
                        .footer3{
                            margin-left: 30%;
                        }
                        .footer2{
                            margin-left: 25%;
                             }
                             .footer{
                              background-color: white;
             }
             